@use "../../styles/variables" as *;

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background: $white2;
  border-bottom: 2px solid #ddd;
  width: 100%;
  font-family: $font;
  margin-bottom: 80px;
}

.logo {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none !important;
  font-family: $font;
  border: 2px solid $secondary;

  .greenPart {
    background-color: $secondary;
    color: $white2;
    padding: 5px 10px;
  }

  .whitePart {
    background: none;
    color: $secondary;
    padding: 5px 10px;
  }
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 15px; 
  height: 40px;
}

.CategoryDropdown {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 2px solid $primary;
  font-size: 16px;
  font-weight: 300 !important;
}

.createAdBtn {
  background: $primary;
  color: $white2;
  border: none;
  padding: 10px 19px;
  font-size: 12px;
  text-align: center !important;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  gap: 10px; 
  align-items: center; 
}

.icon img {
  width: 30px; 
  height: 30px;
  cursor: pointer;
  object-fit: contain;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

