//Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$font: 'Roboto', sans-serif;

//Colors
$primary: #00A676;
$Secondary: #1D8439;
$red: #952E0D;
$white1: #F5F5F5;
$white2: #FFFFFF;
$black: #000000;