@use "../../styles/variables" as *;

.tabsContainer {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  border: 2px solid $secondary;
}

.tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  background: white;
  color: $primary;
  font-size: 18px;
  border: none;
  cursor: pointer;

  &.active {
    background: $secondary;
    color: white;
  }
}
